* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: black;
  color: #d9d9d9;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}